@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: 215 72% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --destructive: 0 84.2% 60.2%;
    --border: 240 5.9% 90%;
    --radius: 0.625rem;
  }

  body {
    @apply font-sans text-biblioteca-900 antialiased;
  }
  h1, h2, h3 {
    @apply font-serif;
  }
}
